.App {
  display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
  font-family: 'Filmotype Fashion';
}

.App-intro {
  font-size: large;
}

/* .api-switch button.active {
  background-color: yellow;
} */

.button-wrapper {
  padding: 0 1rem;
}

.filmotype {
  font-family: "Filmotype Fashion";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
