/* old colors
$astro-tan: rgb(244, 240, 229);
$astro-purple: rgb(48, 44, 67);
$astro-green: rgb(0, 172, 104);
$astro-light-green: rgb(18, 204, 87);
$astro-beige: #7C766A;
$astro-light-beige: #a8a297;
$astro-blue: rgb(6, 158, 172);
$astro-red: rgb(245, 54, 44);
$astro-yellow: rgb(255, 155, 9);
$astro-beige: #F9E9CA;
$astro-light-beige: #F5F0E5;
$astro-dark-white: #f8f5f0;
$astro-orange: #ff9a09;
$astro-dark-white: #EAE3DB;
$astro-dark-beige: #C0B199;
$astro-light-white: #ffffff;
$astro-dark-purple: rgb(46, 42, 64);
*/
